# split every nodes-url with ; (notice: scheme required)
NODES=http://node1.example.com;http://node2.example.com;http://node3.example.com

# must be an integer
MAX_RETRIES=5

# in seconds
TIMEOUT=0.5

# in seconds
BACKOFF=1.5